project:
  type: website

website:
  title: "Arna Ramadhan"
  back-to-top-navigation: true
  navbar:
    left:
      - href: index.qmd
        text: Beranda
      - blog.qmd

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true



